<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daapr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="20" />

    
    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.daapr.SignIn"
            android:label="@string/app_name" 
            android:configChanges="keyboard|keyboardHidden|orientation|uiMode|screenLayout"
            android:alwaysRetainTaskState="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.daapr.Feed"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.daapr.SignIn"
            
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.daapr.SignIn" />
            <intent-filter>
                <action android:name="android.intent.action.FEED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.daapr.Profile"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.daapr.Feed"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.daapr.Feed" />
            <intent-filter>
                <action android:name="android.intent.action.PROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.daapr.Followers"
            android:label="@string/app_name"
            android:parentActivityName="com.example.daapr.Profile"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.daapr.Profile" />
            <intent-filter>
                <action android:name="android.intent.category.FOLLOWERS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.daapr.Following"
            android:label="@string/app_name"
            android:parentActivityName="com.example.daapr.Profile"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.daapr.Profile" />
            <intent-filter>
                <action android:name="android.intent.category.FOLLOWING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.daapr.Notifications"
            android:label="@string/app_name"
            android:parentActivityName="com.example.daapr.Feed"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.daapr.Feed" />
            <intent-filter>
                <action android:name="android.intent.category.NOTIFICATIONS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.daapr.Settings"
            android:label="@string/action_settings"
            >
        </activity>
            
    	<activity
    	    android:name="com.example.daapr.DiscoverUsers"
            android:label="@string/discover_users"
        >
    	</activity>
            
    </application>
    

</manifest>