<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.myfirstapp.SignIn"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.myfirstapp.Feed"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.myfirstapp.SignIn"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.SignIn" />
            <intent-filter>
                <action android:name="android.intent.action.FEED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.myfirstapp.Profile"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.myfirstapp.Feed"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.Feed" />
            <intent-filter>
                <action android:name="android.intent.action.PROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.myfirstapp.Followers"
            android:label="@string/app_name"
            android:parentActivityName="com.example.myfirstapp.Profile"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.Profile" />
            <intent-filter>
                <action android:name="android.intent.category.FOLLOWERS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.myfirstapp.Following"
            android:label="@string/app_name"
            android:parentActivityName="com.example.myfirstapp.Profile"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.Profile" />
            <intent-filter>
                <action android:name="android.intent.category.FOLLOWING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.myfirstapp.Notifications"
            android:label="@string/app_name"
            android:parentActivityName="com.example.myfirstapp.Feed"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.Feed" />
            <intent-filter>
                <action android:name="android.intent.category.NOTIFICATIONS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.myfirstapp.Settings"
            android:label="@string/action_settings"
            >
        </activity>
            
    	<activity
    	    android:name="com.example.myfirstapp.DiscoverUsers"
            android:label="@string/discover_users"
        >
    	</activity>
            
    </application>
    
    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>